extends layout

block content
    .row(ng-controller="itemListCtrl")
    h2 {{ data.items.name }}
    p {{"Starting Price: $" + data.items.startingPrice }}
    h4 Current Bids
    span(ng-repeat="bid in data.items.bids")
        p Price: ${{ bid.price }}
    .row
        .col-xs-12.col-sm-8
            .error {{ message }}
            .col-xs-12.col-md-6
                form.form-horizontal(action="#{url}", method="post", role="form")
                    - if (error == "val")
                    .alert.alert-danger(role="alert") All fields required, please try again
                    .form-group
                        label.col-sm-4.control-label(for="username") Username
                        .col-sm-8
                            input#username.form-control(name="username")
                    .form-group
                        label.col-sm-4.control-label(for="review") New Bid
                        .col-sm-8
                            input#review.form-control(name="new bid")
                    button.btn.btn-default.pull-right Post my bid
            .col-xs-12.col-md-4